# Telegram
TG_API_ID=39533004
TG_API_HASH=

# Token enrichment
DEFI_API_KEY=
ETHERSCAN_API_KEY=
COINGECKO_API_KEY=
GMGN_API_KEY=
SURF_API_KEY=
RUGCHECK_API_KEY=
RUGCHECK_SHIELD_KEY=
ZERION_API_KEY=

# Wallet monitoring
ALCHEMY_API_KEY=
QUICKNODE_KEY=
HELIUS_API_KEY=

# Telegram notifications
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
